@font-face{font-family:"brandhitc";src:url('BRADHITC.TTF');}
@font-face{font-family:"britanic";src:url('BRITANIC.TTF');}
@font-face{font-family:"channel";src:url('Channel.ttf');}
@font-face{font-family:"champagne";src:url('Champagne & Limousines.ttf');}

body
{
	background-color:#e9e9e9;
}

#corp
{
	width:960px; 
	margin:-15px auto 0px auto;
	/*border:1px solid black;
	box-shadow: 0px 0px 10px black;*/
	/*background-image:url("../img/bg1.jpg");*/
	background-repeat:repeat-y;
	border-radius:5px;
}

#corpus
{
	width:960px; 
	margin:-15px auto 0px auto;
	/*border:1px solid black;
	box-shadow: 0px 0px 10px black;*/
	background-image:url("../img/background0.jpg");
	border-radius:5px;
	color: white;
}

#mainContent
{
	text-align:center;
	min-height:350px;
}

header img
{
	margin-left:30px;
}

#navBar
{
	float:right;
	position:absolute;
	top:20px;
	left:55%;
	font-size:25px;
	font-family:champagne;
}

#navBar a
{
	color:white;
	text-decoration:none;
}

#navBar a:hover
{
	text-decoration:underline;
}

#navBar li
{
	display:inline;
	margin-right:20px;
}

footer
{
	text-align:center;
	color:white;
	font-size:12px;	
}

footer a
{
	color:white;
	text-decoration:none;
}

footer a:hover{text-decoration:underline;}

.dp50{width:50%; float:left; display: inline;  *margin-right:-1px; *padding-right:1px; _margin-right:-1px; _padding-right:1px;  height:100px;}
.dp30{width:30%; float:left; display: inline;  *margin-right:-1px; *padding-right:1px; _margin-right:-1px; _padding-right:1px;  height:100px;}
.clear{clear:both;}

#index
{
	text-align:center;
	color:white;
	font-family:britanic;
}

#index h1{font-size:30px;font-family:brandhitc;}

#index img
{
	margin:20px 0px -25px 0px;
}
	
#registerForm
{
	-webkit-transition: opacity 1500ms, height 1s;
	-moz-transition: opacity 1500ms, height 1s;
	-o-transition: opacity 1500ms, height 1s;
	transition: opacity 1500, height 1s;
}

#formLogReg
{
	font-family:champagne;
}


#formLogReg input
{
	margin:-5px 0px -5px 0px;
	-webkit-transition: background-color 1000ms, width 1s;
	-moz-transition: background-color 1000ms, width 1s;
	-o-transition: background-color 1000ms, width 1s;
	transition: background-color 1000ms, width 1s;
} 

#formLogReg input[type="text"], #formLogReg input[type="password"], #formLogReg input[type="email"]
{
	color:#7b7b7b;
	padding:2px 8px 2px 8px;
	height:30px;
	width:200px;
	border-radius:10px;
	border:2px solid #02537d;
}

#formLogReg input[type="submit"], .but_1, #facture_user input[type="submit"]
{
	color:white;
	background-color:#079eeb;
	border:1px solid black;
	padding:4px 8px 4px 8px;
	width:100px;
	border-radius:10px;
	font-size:15px;
	font-family:britanic;
}

#formLogReg input[type="submit"]:hover, .but_1:hover, #facture_user input[type="submit"]:hover{background-color:#06bae2;}
#formLogReg input[type="submit"]:active, .but_1:active, #facture_user input[type="submit"]:active{background-color:#079eeb;}

#formLogReg[placeholder]{color:red;text-align:center; }
#formLogReg a, #formLogReg i{color:white; text-decoration:underline;cursor:pointer}

#formLogReg input:focus
{
	background-color:#b3e8ff;
	color:#292929;
	width:250px;
	-webkit-transition: background-color 1000ms, width 1s;
	-moz-transition: background-color 1000ms, width 1s;
	-o-transition: background-color 1000ms, width 1s;
	transition: background-color 1000ms, width 1s;
}


#android a
{
	color:white;
	text-decoration:none;
	text-shadow:0px 0px 5px #013c5b;
	font-size:20px;
	font-family:britanic;
	text-align:center;
}

#android i{position: relative;top:-20px;}

#IndexAbout a, .lienAncre a
{
	text-decoration:none;
	margin-top:20px;
	color:#d2e3ec;
	font-family:channel;
	text-align:center;
}
#IndexAbout a:hover, .lienAncre a:hover{text-shadow:0px 0px 5px #013c5b;}

#about
{
	margin:50px auto 50px auto;
	width:600px;
	color:white;
	font-family:brandhitc;
	font-size:20px;	
}

#about h1{text-align:center;margin-top:40px;}
#about i{}
#about img{margin:20px;}

#offres
{
	margin:0px auto 0px auto;
	width:900px;
	color:white;
	font-family:champagne;
	font-size:20px;
	text-align:center;
}

#offres h1{text-align:center;margin-top:40px;font-size:35px;}

#service
{
	border-radius:7px;
	border:2px solid #292929;
	width:250px;
	text-align:center;
	margin:10px;
	background-color:#00b7d6;
	box-shadow:0px 0px 15px white inset;
	padding-bottom:10px;
	display:inline-block;
}

#service:hover{	box-shadow:0px 0px 25px white inset;}
#service a{color:white;text-decoration:none;}
#service a:hover{text-decoration:underline;}

.but_1
{
	width:300px; 
	height:75px;
	font-size:30px;
}

.indexBan
{
	text-align:center;
	background-color:white;
	border:1px solid #292929;
	padding:10px 30px 10px 30px;
}


#formNewPlan
{
	font-size:20px;
}

#formNewPlan input
{
	height:20px;
	border-radius:2px;
	margin:0 5px 0 5px;
	padding:3px;
}

.typeButton
{
	padding:5px 15px 5px 15px;
	background-color:#292929;
	border:1px solid #fff;
	width:120px;
	margin:0 auto 0 auto;
	color:white;
}

.typeButton:hover
{
	cursor:pointer;
	background-color:#494949;
}

.typeButton:active
{
	position:relative;
	top:3px;
}

#sendNewPlan input, 
{
	padding:10px 25px 10px 25px;
	background-color:#2E95B8;
	border:1px solid #fff;
	width:160px;
	margin:0 auto 0 auto;
	text-align:center;
	height:60px;
	color:white;
	font-size:25px;
	font-family:champagne;
	font-weight:bold;
}

#sendNewPlan input:hover
{
	cursor:pointer;
	background-color:#2E9500;
}

.bandeauPaiement
{
	width:100%;
	background-color:#F5A4A4;
	color:#292929;
	padding:5px 0 5px 0;
	border:1px solid black;
}

.bgred{background-color:#F5A4A4;}
.bggreen{background-color:#B1FAAF;}

#espace_user a
{
	color:white;
}

#espace_user a:hover{text-decoration:overline underline;}


#facture_user
{
	width:400px;
	margin-right:auto;
	margin-left:auto;
	display:none;
	border:4px dashed white;
	border-radius:20px;
	padding:10px;
}

#facture_user input
{
	margin-bottom:5px;
}

#plan_user
{
	width:75%;
	margin-left:auto;
	margin-right:auto;
}

#plan_user p
{
	font-size:18px;
}

#capacityBar
{
	border-radius:3px;
	border:1px solid black;
	background-color:#D7F8FA;
	color:#292929;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

#capacityBarR
{
	background-color:#3DDAE3;
	*width:100%;
}

#generateurLien input
{
	padding:10px 5px 10px 5px;
}